body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
}

.container {
  margin-left: 260px;
  width: 80%;
  padding: 16px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 100px;
}
h1 {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
}

textarea,
input[type="text"],
button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
  background-color: #007bff;
  color: white;
  font-weight: bold;
}

td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
  background-color: #f9f9f9; /* Subtle background color for table cells */
}

tr:nth-child(even) {
  background-color: #f2f2f2; /* Alternating background color for even rows */
}
.group-title {
  background-color: #3f3f3f;
  color: white;
  padding: 8px 16px;
  font-weight: bold;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 250px;
  background-color: #474747;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  transition: 0.3s;
}

li a.active {
  background-color: #04AA6D;
}

li a:hover:not(.active) {
  background-color: #555;
}

.logo h3 {
  color: white;
  padding: 8px 16px;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.footer p {
  margin: 0;
  font-size: 14px;
}